p{
color: silver;
font-family:serif;
text-align: center
}
ul{
color: lime;
}
ol{
color: blue;
font-family: serif;
}
h1{
color: purple;
font-family: sans-serif;
text-align: center
}
body{
background-color: teal;
}