p{
color: #0F2C64;
font-family:serif;
}
ul{
color: #0A4600;
}
ol{
color: #0A4600;
font-family: serif;
}
h1{
color: 
font-family: sans-serif;
text-align: center;
}
h2{
color:#051838;
clear: left;
text-align: center;
}
div{
background: #95DCDC; 
padding: 20px;
}
body{
margin-left: 380px;
margin-right: 380px;
width: 800px;
border-style:solid;
border-width: 10px;
box-shadow: 7px 7px 4px 2px #999;
}
img{
border-style: ridge;
border-width: 10px;
border-radius: 10px/50px;
float: left;
}
span{
text-decoration:overline;
}
nav{
text-align: center;
}
nav ul{
padding-left: 0;
margin-left: 0; 
background-color:#051838;
color: White;
float: left;
width: 100%;
font-family: arial, sans-serif;
}
nav ul li{
display: inline;
}
nav ul li a{
padding: 0.2em 1em;
background-color:#051838;
color: white;
text-decoration: none;
text-transform: uppercase;
border-right: 5px solid #95DCDC;
border-left: 5px solid #95DCDC;
}
nav ul li a:hover{
background-color: #152C55;
}