p{
color: #115A3C;
font-family:serif;
text-align: center
}
ul{
color: #153855;
}
ol{
color: blue;
font-family: serif;
}
h1{
color: #023C25;
font-family: sans-serif;
text-align: center;
}
h2{
color:#023C25;
}
body{
background-color: #748FA6;
}
nav{
text-align: center;
}
nav ul{
padding-left: 0;
margin-left: 0; 
background-color:#373678;
color: White;
float: left;
width: 100%;
font-family: arial, sans-serif;
}
nav ul li{
display: inline;
}
nav ul li a{
padding: 0.2em 1em;
background-color:#373678;
color: white;
text-decoration: none;
text-transform: uppercase;
border-right: 5px solid #748FA6;
border-left: 5px solid #748FA6;
}
nav ul li a:hover{
background-color: #595895;
}